*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// body{
//     // overflow-y: hidden;
// }
:root {
    --Primary: #00FFF2;
    --second:  #000914;
    --font1 : "poppins";
    --font2 : "montserrat";
  }

@import "hero.scss";
@import "hero(win).scss";